# Email Configuration
EMAIL_USER=rovingvietnamtravel@gmail.com
EMAIL_PASS=dqjq vcvi nugs mfzj
ADMIN_EMAIL=rovingvietnamtravel@gmail.com

# SMTP Configuration (Alternative to Gmail service)
# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=587

# Database
DATABASE_URL="postgresql://username:password@localhost:5432/roving_travel"

# NextAuth
NEXTAUTH_SECRET=your-secret-key
NEXTAUTH_URL=http://localhost:3000

# Other configurations...

# Mapbox
NEXT_PUBLIC_MAPBOX_TOKEN=

# i18n
NEXT_PUBLIC_DEFAULT_LOCALE=vi

# Instagram
INSTAGRAM_ACCESS_TOKEN=


